<div>Name: {{radiostations.name}}</div>
<div>Genre: {{radiostations.genre}}</div>
<div><a href="/radios">Back to radio stations</a></div>
<a href="/radios/{{radiostations._id}}/edit">
    <button>Edit</button>
</a>
<form action="{{radiostations._id}}?_method=DELETE" method="POST">
     <input class="button" type="submit" value="Delete">
</form>

<a href="/radios/{{radiostations._id}}/songs"><button>See station's songlist</button></a>

{{!-- <h1>Songs</h1>
{{#each radiostations.songs}}
    <div>{{title}}</div>
    <div>{{artist}}</div>
{{/each}} --}}