<div>Name: {{radiostations.name}}</div>
<div>Genre: {{radiostations.genre}}</div>
<div><a href="/users/{{userId}}/items">Back to {{userName}}'s Items</a></div>
<a href="/radios/{{radiostations._id}}/edit">
    <button>Edit</button>
</a>
<form action="">
    <button>Delete</button>
     <form class="delete-form"action="/{{radiostations_.id}}?_method=DELETE" method="POST"></form>
</form>

<a href="/radios/{{radiostations._id}}/songs"><button>See station's songlist</button></a>

<h1>Songs</h1>
{{#each radiostations.songs}}
    <div>{{title}}</div>
    <div>{{artist}}</div>
{{/each}}