<div>Name: {{song.title}}</div>
<div>Year: {{song.year}}</div>
<div>Genre: {{song.genre}}</div>
<div>Artist: {{song.artist}}</div>
<div><a href="/radios">Back to radio stations</a></div>
<h2><a href="/radios/{{radioId}}/songs/{{song._id}}/ratings/{{ratingId}}">Rating</a></h2>
<div>
    {{!-- <div><a href="/radios/{{radioId}}/songs/{{song._id}}/ratings/{{song.rating._id}}">{{song.rating.rating}}</a><div> --}}


{{!-- <button class="add-review">Add review</button>
 <form action="/radios/{{radioId}}/songs/{{song._id}}/ratings?_method=DELETE" method="POST">
     <input class="button" type="submit" value="Delete">
</form> --}}
 

 


