<div>Name: {{song.title}}</div>
<div>Year: {{song.year}}</div>
<div>Genre: {{song.genre}}</div>
<div>Artist: {{song.artist}}</div>
<div><a href="/radios">Back to radio stations</a></div>
<h2>Rating</h2>
<div>
{{#each song.rating}}
    <div>{{rating.rating}}</div>
{{/each}}
</div>
{{!-- <form action="">
    <button>Delete</button>
     <form class="delete-form"action="/{{songs_.id}}?_method=DELETE" method="POST"></form>
</form> --}}

{{!-- <a href="/songs/{{song._id}}/songs/show"><button>See songs</button></a> --}}


