<div>Name: {{song.title}}</div>
<div>Year: {{song.year}}</div>
<div>Genre: {{song.genre}}</div>
<div>Artist: {{song.artist}}</div>
<div><a href="/radios">Back to radio stations</a></div>
<h2>Rating</h2>
<div>
{{#each song.rating}}
    <div>{{rating.rating}} 
{{/each}}
</div> 

 <form action="/radios/{{radioId}}/songs/{{song._id}}/ratings?_method=DELETE" method="POST">
     <input class="button" type="submit" value="Delete">
</form>
 


