<div>Name: {{song.title}}</div>
<div>Year: {{song.year}}</div>
<div>Genre: {{song.genre}}</div>
<div>Artist: {{song.artist}}</div>
<div><a href="/radios">Back to radio stations</a></div>
<a href="/songs/{{song._id}}/edit">
    {{!-- <button>Edit</button> --}}
</a>
<form action="">
    <button>Delete</button>
     <form class="delete-form"action="/{{songs_.id}}?_method=DELETE" method="POST"></form>
</form>

{{!-- <a href="/songs/{{song._id}}/songs/show"><button>See songs</button></a> --}}


{{#each radiostations.songs}}
    <div><a href="/radios/:radioId/songs/:songId{{song._id}}/show">{{title}}</a></div>
    <div>{{artist}}</div>
{{/each}}